.m--electron-menu--scroll-area--part--hint--card {
  border: calc(0.1vw * var(--scale)) solid black;
  border-radius: calc(0.6vw * var(--scale));

  & > .--title {
    border-radius: calc(0.5vw * var(--scale)) calc(0.5vw * var(--scale)) 0 0;

    padding: calc(0.2vw * var(--scale)) calc(0.3vw * var(--scale)) calc(0.4vw * var(--scale)) calc(0.3vw * var(--scale));

    color: white;
    background-color: black;
  }
  & > .--content {
    padding: calc(0.6vw * var(--scale));
  }
}
