.m--electron-menu--main-area {
  outline: 0.5vw dotted black;
  outline-offset: -0.25vw;
  border-radius: 4vw;
}

.m--electron-menu--scroll-area--flow {
  width: 100%;
  height: 2vw;
  position: fixed;

  &.--top {
    top: 0;
    background: linear-gradient(white, rgba(255, 255, 255, 0));
  }
  &.--bottom {
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), white);
  }
}
