.m--electron-menu--main-area {
  outline: 0.5vw dotted black;
  outline-offset: -0.25vw;
  border-radius: 4vw;
}

.m--electron-menu--scroll-area--flow {
  width: 100%;
  height: 2vw;
  z-index: 1;
  position: fixed;

  &.--top {
    top: 0;
    background: linear-gradient(white, rgba(255, 255, 255, 0));
  }
  &.--bottom {
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), white);
  }
}

.m--electron-menu--scroll-area--storage--card {
  border: calc(0.1vw * var(--scale)) solid var(--q-negative);
  border-radius: calc(0.6vw * var(--scale));

  & > .--title {
    border-radius: calc(0.5vw * var(--scale)) calc(0.5vw * var(--scale)) 0 0;

    padding: calc(0.2vw * var(--scale)) calc(0.3vw * var(--scale)) calc(0.4vw * var(--scale)) calc(0.3vw * var(--scale));

    color: white;
    background-color: var(--q-negative);
  }
  & > .--content {
    padding: calc(0.6vw * var(--scale));

    color: var(--q-negative);
  }
}
