.m--btn-input>div>div{height:36px!important}.m--btn-input>div>div>div{height:36px!important}.m--btn-input.--selected>div>div:after{border-width:2px;border-color:currentColor}.m--btn-input--input,.m--btn-input[data-v-050b8f40]{height:36px}
