@font-face {
  font-family: 'YS-HelloFont-BangBangTi';
  src: url('./YS-HelloFont-BangBangTi.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
  src: url('./Impact.ttf');
  font-weight: normal;
  font-style: normal;
}

.m--font--ys-hello-font-bang-bang-ti {
  font-family: 'YS-HelloFont-BangBangTi', 'sans-serif' !important;
}

.m--font--impact {
  font-family: 'Impact', 'sans-serif' !important;
}
